* {
  border: none;
}

tooltip {
  border-style: solid;
  border-color: #89B4FA;
  border-width: 1px;
  border-radius: 5px;
  background-color: #1E1E2E;
  color: #CDD6F4;
  opacity: 0.9;
}

#waybar {
  background-color: rgba(0, 0, 0, 0);
  color: #CDD6F4;
}

#workspaces,
#custom-spotify,
#right {
  margin: 5px 5px 0px 5px;
  padding: 0px 5px;
  border-radius: 5px;
  background-color: #1E1E2E;
  opacity: 0.9;
}

#workspaces button {
  padding: 0px 5px;
}

#workspaces button:hover {
  background: none;
  text-shadow: none;
  box-shadow: none;
  transition: none;
}

#custom-spotify {
  padding: 0px 10px;
}

#wireplumber,
#backlight,
#battery,
#clock {
  padding: 0px 10px;
}
