@import "mocha.css";

* {
  border: none;
  font-family: Iosevka Nerd Font, sans-serif;
  font-size: 18px;
}

window#waybar {
  background-color: @base;
  color: @mauve;
  transition-property: background-color;
  transition-duration: .5s;
  opacity: 0.9;
  border-radius: 90px;
}

window#waybar.hidden {
  opacity: 0.5;
}

#workspaces,
#custom-media,
#clock,
#wireplumber,
#backlight,
#battery,
#network,
#tray {
  padding: 0px 10px;
  margin: 5px;
  border-radius: 90px;
}

#workspaces button {
  padding: 0px 5px;
  color: @mauve;
}

#workspaces button:hover {
  box-shadow: none;
  text-shadow: none;
  background: @crust;
  transition: none;
}

#workspaces button.urgent {
  color: @red;
}

#custom-media {
  background-color: @crust;
}

#wireplumber {
  color: @yellow;
}

#wireplumber.muted {
  background-color: @red;
  color: @base;
}

#backlight {
  color: @blue;
}

#battery {
  color: @green;
}

#battery.charging,
#battery.plugged {
  background-color: @green;
  color: @base;
}

@keyframes blink {
  to {
    background-color: @base;
    color: @red;
  }
}

#battery.critical:not(.charging) {
  background-color: @red;
  color: @base;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#network.disconnected {
  background-color: @red;
  color: @base;
}
